*{
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
}

.hide{
  display: none;
}

.main-wrapper{
  height: 100vh;
  background-color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}